<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <title></title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <link href="~/lib/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />
    <link href="~/lib/animate/animate.min.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="~/css/style-responsive.css" rel="stylesheet" />
    <link href="~/css/lime.css" id="theme" rel="stylesheet" />
    <link href="~/css/custom.css" rel="stylesheet" />
    <!-- ================== END BASE CSS STYLE ================== -->
    <!-- ================== BEGIN BASE JS ================== -->
    
    <!-- ================== END BASE JS ================== -->
</head>
<body>
    @Html.Partial("_TopBarPartial")
    @Html.Partial("_HeaderPartial")

    @RenderBody()


    @Html.Partial("_FooterPartial")

    <script src="~/lib/jquery/jquery-3.3.1.min.js"></script>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!--[if lt IE 9]>
        <script src="~/lib/crossbrowserjs/html5shiv.js"></script>
        <script src="~/lib/crossbrowserjs/respond.min.js"></script>
        <script src="~/lib/crossbrowserjs/excanvas.min.js"></script>
    <![endif]-->
    <script src="~/lib/js-cookie/js.cookie.js"></script>
    <script src="~/lib/masonry/masonry.min.js"></script>
    <script src="~/lib/paroller/jquery.paroller.min.js"></script>
    <script src="~/js/apps.js"></script>
    <!-- ================== END BASE JS ================== -->

    <script>
        $(document).ready(function () {
            App.init();
        });
    </script>

    @RenderSection("Scripts", required: false)
</body>
</html>
